<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- In questo modo il tag tr è annidato all'interno del tag app-user-list-row rompendo la struttura html -->
        <!-- <app-user-list-row *ngFor="let userSelected of userList" (deleteUser)="handleDelete($event)" [user]="userSelected"></app-user-list-row> -->

        <!-- Cosi invece diciamo ad angular di ignorare il nostro selector e utilizzare il tag html però potendo utilizzare i binding -->
         <!-- !!!!! BISOGNA AGGIUNGERE LE PARENTESI [] NEL component.ts quandi si definisce il selector [app-user-list-row] -->
        <tr app-user-list-row *ngFor="let userSelected of userList" (deleteUser)="handleDelete($event)" [user]="userSelected"></tr>
    </tbody>
</table>